robotframework>=4.1.2
prometheus-client>=0.11.0
ruamel.base>=1.0.0
ruamel.yaml>=0.17.20
kubernetes>=18.20.0
google-cloud-monitoring>=2.0.0
google-cloud-logging>=3.0.0
protobuf>=3.20.0
rocketchat_API>=1.16.0
boto3>=1.20.0
dnspython>=2.0.0
pyopenssl>=21.0.0
slack_sdk>=3.19.0
python-benedict>=0.25.0
sdcclient>=0.16
snscrape>=0.4.3.20220106
pandas>=1.5.2
jmespath>=1.0.1
datadog-api-client==2.8.0